<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Wave-weather-items</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "weather/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href='{% static "weather/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href='{% static "weather/css/clean-blog.min.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/weather/home">wave weather</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/weather/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/weather/plan">Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/weather/item">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/weather/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'weather/img/home-bg.png' %})">
&nbsp;<br><br>
  </header>

  <!-- Main Content -->
    <br>

    <div style="background-image: url({% static 'weather/img/white.png' %})">

        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">


            <div class="post-preview" align ='center'>
                <h2 id = 'a1' class="post-title">
                  이 달의 인력 배치(서울)
                </h2>
                <br>
              <table border = 0><tr><td rowspan = 2><img src = '{% static "weather/img/map2.jpg" %}' width = 400 height="300"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><h5 class="post-subtitle"><img src = '{% static "weather/img/caution.jpg" %}' width =20 height = 20> 이번 달은 날씨에 따른 범죄 발생확률은 매우 높습니다. </h5></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><h5 class="post-subtitle"><img src = '{% static "weather/img/caution.jpg" %}' width =20 height = 20> 이번 달은 특히 서울에서의 범죄 발생확률이 높은 것으로 보입니다. 해당구역 경찰서는 관할 출동에 대비해주시기 바랍니다.</h5></td></tr>
              </table>
              <br>
              <div class="clearfix">
                 <a class="btn btn-primary float-right" href="JavaScript:history.go(-1)">Back</a>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="post-preview" align = 'center'>
                <h2 id = 'a2' class="post-title">
                  관련 캠페인 활성화
                </h2>
              <br>
                <table border = 0><tr><td rowspan = 2><img src = '{% static "weather/img/message.jpg" %}' width = 400 height =300></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><h5 class="post-subtitle"><img src = '{% static "weather/img/notice.jpg" %}' width =20 height = 20> 이번 달의 범죄 위험도는 높음이므로 범죄 예방 문자 발송 캠페인을 실시합니다. </h5></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><h5 class="post-subtitle"><img src = '{% static "weather/img/notice.jpg" %}' width =20 height = 20> 거리의 전광판, SNS 등 다양한 대중매체를 통한 범죄 예방 관련 캠페인을 지향합니다. </h5></td></tr>
              </table>
              <br>
              <div class="clearfix">
                 <a class="btn btn-primary float-right" href="JavaScript:history.go(-1)">Back</a>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="post-preview" align = 'center'>
                <h2 id = 'a3' class="post-title">
                  범죄 프로파일링
                </h2>
                <br>
                <table border = 0>
                  <tr><td rowspan="2">
                    <img src = '{% static "weather/img/profiling.jpg" %}' width = 400 height = 300></td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><h5 class="post-subtitle"><img src = '{% static "weather/img/up.jpg" %}' width =20 height = 20> 이번 달은 범죄가 발생하기 쉬운 날씨가 지속되므로 계획 범죄보다는 우발 범죄의 확률이 높습니다. </h5></td></tr>
                  <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><h5 class="post-subtitle"><img src = '{% static "weather/img/up.jpg" %}' width =20 height = 20> 범행 동기 조사 및 범죄 프로파일링에 날씨와 범죄 위험도를 참고할 수 있습니다. </h5></td></tr>
                  </table>
               <br>
              <div class="clearfix">
                 <a class="btn btn-primary float-right" href="JavaScript:history.go(-1)">Back</a>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="post-preview" align = center>
                <h2 id = 'a4' class="post-title">
                  미니보험
                </h2>
              <br>
                <table border = 0>
                  <tr><td rowspan="2">
                    <img src = '{% static "weather/img/mini.jpg" %}' width = 400 height = 300></td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><h5 class="post-subtitle"><img src = '{% static "weather/img/good.jpg" %}' width =20 height = 20> 범죄 위험도가 높은 달이므로 범죄에 대한 높은 보장률의 미니보험을 판매할 수 있습니다. </h5></td></tr>
                  <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><h5 class="post-subtitle"><img src = '{% static "weather/img/good.jpg" %}' width =20 height = 20> 공공시설 성범죄 관련 미니보험, 아동 관련 범죄 미니보험, 운전자 관련 미니보험(보복운전) 등 다양한 예시가 있습니다. </h5></td></tr>
                  </table>
               <br>
              <div class="clearfix">
                 <a class="btn btn-primary float-right" href="JavaScript:history.go(-1)">Back</a>
              </div>
            </div>
            <br>
            <hr>
            <!-- Pager -->
          </div>
        </div>
      </div>




  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/search/top/?q=tave">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Min-Hyuk98/wave_wether_crime">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Wave 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "weather/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "weather/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Custom scripts for this template -->
  <script src='{% static "weather/js/clean-blog.min.js" %}'></script>

</body>

</html>